/* インラインのコード */
p code {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  background-color: #282c34;
  overflow: auto;
  color: #ccc;
  margin-bottom: 0;
  vertical-align: middle;
  white-space: pre;
  padding: 0.25rem 0.5rem;
  margin: 0px;
  font-size: 0.85rem;
  border-radius: 3px;
  line-height: 1.3;
  word-break: break-all;
  max-width: 100%;
}
